@charset "UTF-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
}

#wrapper {
    width: 768px;
    margin: 0 auto;
    background: rgba(45,29,9, .7);
    overflow: hidden;
}

/***************INDEX PAGE***************/
.index_header {
	margin-bottom: 25px;	
	padding: 5px 0 10px 0;
    font-size: 1.5em;
    background: yellow;	
}

.index_main {
    height: 259px;
	width: 226px;
    margin: 0% 0% 0.1% 15%;
    float: left;
    background: #C7AC81;
}

.index_aside {
    height: 259px;
	width: 226px;
	margin: 0% 15% 0.1% 0%;
    float: right;
}

.button_area {
	height: 55px;
	margin-top: 25px;
	margin-bottom: 5px;
	padding: 10px 0 5px 0;
	clear: both;
}

.btn-warning {
	margin: 15px 0px 0px 296px;
	padding: 5px;
    font-size: 1.25em;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	color: red;
	background-color: white;
}

.btn-warning:hover {
  background: red;
  color: white;
}

/***************TYPOGRAPHY***************/
h1 {
	font-family: "Times New Roman", Times, serif;
    color: black;
	text-align: center;
}

p {
	font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25;
    padding: 10px 12px 0px 12px;
    color: #2D1D09;
}
